<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>GitAPI</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class="login">
  <h1>GitAPI repositories</h1>
  <p>This will be an amazing experience</p>
  <form method="post">
    <div class="input">
      <div class="blockinput">
        <i class="icon-envelope-alt"></i><input name="username" type="username" placeholder="Username">
      </div>
    </div>
    <button type="submit">Search</button>
  </form>
  </div>
</body>
</html>
